<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042750464005-dbm89gn8qc26i95u2mnvsacle2ikhsvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042750464005-dbm89gn8qc26i95u2mnvsacle2ikhsvs</string>
	<key>API_KEY</key>
	<string>AIzaSyCODL9bSFnjQ5-S0mCfQ3S0leBSq5Dcen0</string>
	<key>GCM_SENDER_ID</key>
	<string>1042750464005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stipedemo</string>
	<key>PROJECT_ID</key>
	<string>stripedemo-ae443</string>
	<key>STORAGE_BUCKET</key>
	<string>stripedemo-ae443.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042750464005:ios:d95f6debe6607de163bc6c</string>
</dict>
</plist>